# terraform
terraform/.terraform/*
terraform/.terraform.lock.hcl

# latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.fmt
*.dvi
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
# will be rebuilt on push
latex/*.pdf
